*output/
*input/
.DS_Store
# *query/
benchmark_query/*
log_analysis/query/wikidata/*
!log_analysis/query/wikidata/StatusCode
log_analysis/query/wikidata/StatusCode/*
!log_analysis/query/wikidata/StatusCode/20221215101853